/*------------------*
# Main Content
*------------------*/

.main-content {
    align-items: center;
    display: flex;
    min-height: calc(100vh - 56px);
    justify-content: center;
    text-align: center;
    width: 100%;
}
